<h1>運送会社向け　原価管理ツール</h1>

<%= params %>
<%= form_tag('/sample/index') do %>
  <input type="text" name="aaa" /><br />
  <input type="text" name="bbb" /><br />
  <input type="text" name="ccc" /><br />
  <input type="submit" value="send">
<% end %>


<p>運送会社が原価管理を行うのに、使うためのツールです</p>

<h2>運送費</h2>
  <h3>車両費</h3>
    <h4>減価償却費</h4>
    <h4>自動車関連諸税費</h4>
    <h4>自動車リース料</h4>

  <h3>保険料</h3>
    <h4>自賠責保険料</h4>
    <h4>任意保険料</h4>

  <h3>燃料油脂費</h3>
    <h4>燃料費</h4>
    <h4>油脂費</h4>

  <h3>修繕費</h3>
    <h4>車検整備費</h4>
    <h4>一般修理費</h4>
    <h4>タイヤ、チューブ費</h4>

  <h3>人件費費</h3>
    <h4>給与</h4>
    <h4>賞与</h4>
    <h4>法定福利費</h4>
    <h4>その他人件費</h4>

  <h3>その他運送費</h3>
    <h4>車庫等の設備費</h4>
    <h4>高速道路料金</h4>
    <h4>その他運送費</h4>


<h2>一般管理費</h2>
  <h3>一般管理費</h3>
    <h4>人件費</h4>
  <h3>その他の費用</h3>
    <h4>その他の費用</h4>

<h2>営業外収支</h2>



<h2>運用費用コスト</h2>
<%= @msg %>



<h2>準備物</h2>
車検証
車両管理台帳
リース契約書（リースの場合）
納税記録
保険証券
賃金台帳
運転日報
ガソリンスタンドからの請求書
ETC記録
